<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>Edit product</p>
<div class="form" th:each="product : ${products}">
  <form method="post">
    <input type="text" th:value="${product.price}" name="price" id="price" placeholder="Price">
    <input type="text" th:value="${product.name}" name="name" id="name" placeholder="Name">
    <textarea name="description" th:text="${product.description}" id="desc"
              placeholder="Description"/>
    <button type="submit">Done</button>
  </form>
</div>

</body>
</html>